/*
Name: Default
Author: Alexandre de Oliveira
Description: Official theme
*/

/* basic */
body { background: #efefef url('background.jpg'); }

/* standard */

	a { color: #065796; }
	a:hover { color: #0666b1; }
	a.restrito { color: #990000; text-decoration: none; }
	a.restrito:hover { text-decoration: underline; }

	p { color: #2e2e2e; }
	p.alerta { color: #FF3300; }

	h1, h2, h3, h4, h5, h6 { color: #004B85; }
	h1 { color: #004b85; }
	h1.restrito { color: #990000; }
	h2.restrito { color: #990000; margin-top: 15px; }
	h2.falha { color: red; }
	h2.ok { color: #006600; }

	/* Mensagens genéricas */
	span.red { color: #c80000; }
	span.green { color: #006413; }

#global {
	background: url('top.jpg') repeat-x;
}

/* TOPO */
div#top {
	/* background: #065796; */
}
	div#top h1 {
			color: #f5f5f5;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
			
	 	}
	div#top a { color: #f5f5f5; }

/* NAVEGAÇÃO */
div#navegacao {
	/*  background: #065796; */
}
	div#menu ul li a {
		background: #efefef url('tabs_background.png');
				border-bottom: 1px solid #e8e8e8;
				-moz-border-radius-topleft: 3px;
				-moz-border-radius-topright: 3px;
				-webkit-border-top-left-radius: 3px;
				-webkit-border-top-right-radius: 3px;
	}
		div#menu ul li a:hover {
			background: white;
						border-bottom: 1px solid #fff;
		}
		div#menu ul li a.selecionado {
				border-bottom: 1px solid #fff;
		background: white;
		color: black;
		font-weight: bold;
	}

/* where content shows up */
div.body { background: url('post-bg.png') repeat-x #fbfbfb; }


	
/* Links Configurar módulos e permissões */
div#link_bottom {
	background: white;
}

.arrow { font-size: 0.8em; }

/* WIDGETS */

	div.widget {
		background: #f5f5f5;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	div.widget div.titulo {
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-topright: 4px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		background: url('top.jpg') #025d96; /* #e9f4ff; */
	}
	div.widget div.titulo h3 {
		color: #eee;
		font-weight: bold; /* #888888; */
		/* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
	}

/* PANES */
table.listing tr.list { background: #f6f6f6; }
table.listing tr.footer { background: #fdfdfd; }
table.listing tr.header { background: url('top.jpg') #025d96; /* #edf6ff */ }
	table.listing tr.header td {
		color: #dadada; font-weight: bold; /* #888888; */
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	}

/* TAB PANE -> table.listing - Painel Gerenciar e Configurações*/
div.panes div.background { background: #fdfdfd; }
	div.panes div.background .header { background: #edf6ff; }

/* tabs */
ul.tabs a {
	text-decoration: none;
	color: #2d88cf;
	background-color: #eee;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
}

	ul.tabs a:hover { color: white; background: #2d88cf; }

ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background: #2d88cf;/* #edf6ff; #d8d8d8 */
	color: #eaeaea;/* #17486E; */
}


/* Structure Control Panel */
#structure_configuration .structure_variables .header {
	background: #686868;
	color: #d5d5d5;
	padding: 10px;
	font-weight: bold;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

	#structure_configuration .structure_variables .item label {
		color: #555;
	}

/* WELCOME SCREEN - no structure */


#no_structure {
	display: table;
	width: 720px;
	margin: 10px 0 0 0;
	border-radius: 10px;
	height: 250px;
	background: url('../../img/bg_art/no_structure_bg.jpg') #f3f2f2 bottom no-repeat;
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

	#no_structure .containner {
		margin: 20px;
		display: table;
		text-shadow: 2px 2px 1px white;
	}

	#no_structure h2 {
		font-size: 4em;
		margin-top: 0;
		color: #004B85;
	}

	#no_structure p {
		font-size: 1.2em;
		font-weight: bold;
	}

	#no_structure a {
		text-decoration: none;
		color: #004B85;
	}
		#no_structure a:hover { text-decoration: underline; }
