/*
Name: Default
Author: Alexandre de Oliveira
Description: Official theme

*/

/* BÁSICO */
body { background: #efefef; }

a { color: #065796; }
a:hover { color: #0666b1; }
a.restrito { color: #990000; }

p { color: #2e2e2e; }
p.alerta { color: #FF3300; }

h1, h2, h3, h4, h5, h6 { color: #004B85; }
h1 { color: #004b85; }
h1.restrito { color: #990000; }
h2.restrito { color: #990000; margin-top: 15px; }
h2.falha { color: red; }
h2.ok { color: #006600; }

/* Mensagens genéricas */
span.red { color: #d40000; }
span.green { color: #006413; }

/* DIV central - body */
div.body { background: white; }

/* TOPO */
div#top {
    background: #065796;
}
    div#top h1 { color: #f5f5f5; }
    div#top a { color: #f5f5f5; }

/* NAVEGAÇÃO */
div#navegacao {
    background: #065796;
}
    div#menu ul li a {
        background: #efefef;
				border-bottom: 1px solid #e8e8e8;
				-moz-border-radius-topleft: 3px;
				-moz-border-radius-topright: 3px;
				-webkit-border-top-left-radius: 3px;
				-webkit-border-top-right-radius: 3px;
    }
        div#menu ul li a:hover {
            background: white;
						border-bottom: 1px solid #fff;
        }
		div#menu ul li a.selecionado {
				border-bottom: 1px solid #fff;
        background: white;
        color: black;
        font-weight: bold;
    }
    
/* Links Configurar módulos e permissões */
div#link_bottom {
    background: white;
}


/* WIDGETS */
div.widget div.titulo { background: #e9f4ff; }
div.widget div.titulo h3 { color: #065796; }
div.widget { background: #fdfdfd; }
div.widget div.footer { background: #fdfdfd; }

/* PANES */
table.pane_listing tr.list { background: #fdfdfd; }
table.pane_listing tr.footer { background: #fdfdfd; }
table.pane_listing tr.header { background: #edf6ff; }
 table.pane_listing tr.header td { color: #888888; }

/* TAB PANE -> table.pane_listing - Painel Gerenciar e Configurações*/
div.panes div.background { background: #fdfdfd; }
    div.panes div.background .header { background: #edf6ff; }

ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background: #edf6ff;
    color: #2d88cf;
}

