/*
Name: Default
Author:
Description:

*/

/* BÁSICO */
body { background: #f8f8f8; }

a { color: #73627C; }
a:hover { color: #979299; }
a.restrito { color: #990000; }

p { color: #2e2e2e; }
p.alerta { color: #FF3300; }

h1, h2, h3, h4, h5, h6 { color: #73627C; }
h1 { color: #004b85; }
h1.restrito { color: #990000; }
h2.restrito { color: #990000; }
h2.falha { color: red; }
h2.ok { color: #006600; }

/* Mensagens genéricas */
span.red { color: #d40000; }
span.green { color: #006413; }

/* DIV central - body */
div.body { background: white; }

/* TOPO */
div#top {
    background: #73627C;
}
    div#top h1 { color: #f5f5f5; }
    div#top a { color: #f5f5f5; }

/* NAVEGAÇÃO */
div#navegacao {
    background: #73627C;
}
    div#menu ul li a {
        background: #f1f1f1;
    }
        div#menu ul li a:hover {
            background: white;
        }
	div#menu ul li a.selecionado {
        background: white;
        color: black;
        font-weight: bold;
    }
    
/* Links Configurar módulos e permissões */
div#link_bottom {
    background: white;
}


/* WIDGETS */
div.widget div.titulo { background: #DAD4D0; }
div.widget div.titulo h3 { color: black; }
div.widget { background: #fdfdfd; }
div.widget div.footer { background: #fdfdfd; }

/* PANES */
table.pane_listing tr.list { background: #fdfdfd; }
table.pane_listing tr.footer { background: #fdfdfd; }
table.pane_listing tr.header { background: #DAD4D0; }
 table.pane_listing tr.header td { color: black; }

/* TAB PANE -> table.pane_listing - Painel Gerenciar e Configurações*/
div.panes div.background { background: #fdfdfd; }
    div.panes div.background .header { background: #fdfdfd; }

ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background: #8F8B92;
    color: white;
}



