
#mask {
    position: absolute;
    z-index:9000;
    background-color: #323232;
    top: 0;
    left: 0;
    filter: alpha(opacity=90);
    opacity: 0.9;
    display: none;
}

#boxes .window {
    position:absolute;
    width:350px;
    /*height:394px;*/
    display:none;
    z-index:9999;
    padding:0;
    top: 0;
}

/**** Lightbox 1 ****/

/* Personalize a janela modal aqui. Você pode adicionar uma imagem de fundo. */
#boxes #box {
    width: 342px;
    /*height:394px;*/
    padding: 10px;
}
#boxes  #box .box-top {
    width: 342px;
    height: 40px;
    background: white;
}
	#boxes  #box .box-top h2 {
		float: left;
		display: table;
		padding: 0 0 0 12px;
	}

	#boxes  #box .box-top .close {
		display: table;
		float: right;
		width: 28px;
		padding: 6px 6px 0 0;
	}

#boxes  #box .box-conteudo {
    width: 342px;
    background: white;
    text-align: left;
}
    #boxes  #box .box-conteudo p {
        padding: 0 10px 0 10px;
        margin: 0;
    }
	
#boxes #box .box-bottom {
    width: 342px;
    height: 30px;
    background: white;
    margin: 0;
    padding: 0;
}
	


