/**
 * @todo
 *
 * Este CSS contém informações gerais sobre módulos (como calendários, etc).
 *
 * Estilos específicos devem existir em uma pasta específica de CSS
 * dentro do diretório do módulo.
 *
 */

divtable.listing table.calendar {
	width: 100%;
	background: #efefef;
}

divtable.listing table.calendar tr.days {
	height: 30px;
	vertical-align: top;
	font-size: 0.9em;
}

divtable.listing table.calendar td {
	border: 1px solid #dddddd;
	padding: 3px;
}

divtable.listing table.calendar td.day {
	min-height: 40px;
	min-width: 90px;
}

divtable.listing table.calendar tr td.today {
	background: #fffabe; 
}

divtable.listing table.calendar td.day span.day_number {
	margin-right: 5px;
	font-weight: bold;
	color: #999999;
}

divtable.listing table.calendar td.day span.agenda_day_items {
	float: left;
	padding: 3px;
	border: 1px solid #aaaaaa;
	background: white;
	color: #999999;
}

divtable.listing table.calendar td.day div.agenda_day_item {
	border-top: 1px dashed #dddddd;
	padding: 3px 0 7px 0;  
} 

divtable.listing table.calendar td.day div.agenda_first_day_item {
	border-top: 0;
}

divtable.listing table.calendar td.day div.agenda_day_actor { color: black; font-weight: bold; }
divtable.listing table.calendar td.day div.agenda_day_actor_itself { color: brown; }
divtable.listing table.calendar td.day div.agenda_day_time {  }

/* div#listing_table */
div#listing_table { clear: both; display: block; }


span.viewmode { 
	height: 21px;
	width: 30px;
	display: table;
	float: left;
	background-color: red;
}
	span.viewmode.pressed { background-position: 0px 21px; }
	span.viewmode_thumbs { background: url('../img/icons/viewmode_thumbs.png'); }
	span.viewmode_list { background: url('../img/icons/viewmode_list.png'); }

/* Thumbs_view em geral */
	#thumbs_view { margin: 0 auto; text-align: center; }
	#thumbs_view td { padding: 0 2px 10px 2px; }
	#thumbs_view a { cursor: hand; }
	#thumbs_view img { border: none; }
	#thumbs_view td { width: 20%; }
	#thumbs_view span.item div.info { font-size: 0.85em; }
	#thumbs_view img.thumb {
		margin-bottom: 4px;
		border: 1px solid #cccccc;
		box-shadow: 3px 3px 3px #bbb;
		-moz-box-shadow: 3px 3px 3px #bbb; 
		-webkit-box-shadow: 3px 3px 3px #bbb; 
	}
	
	

/* mod_imagens */
	#mod_imagens #thumbs_view { margin: 0 auto; text-align: center; }
	#mod_imagens #thumbs_view span.item { width: 100px; display: inline-block; padding: 0px 10px 10px 10px; }
	#mod_imagens #thumbs_view span.item a { text-decoration: none; color: #9B9B9B;  }
	#mod_imagens #thumbs_view span.item a:hover { background: #eeeeee; cursor: hand; }
	#mod_imagens #thumbs_view span.item div.image {
		margin-bottom: 3px;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		border: 1px solid #cccccc;
		-moz-border-radius: 8px;
		border-radius: 8px;
		box-shadow: 3px 3px 3px #bbb;
		-moz-box-shadow: 3px 3px 3px #bbb; 
		-webkit-box-shadow: 3px 3px 3px #bbb; 
		height: 100px;
		width: 100px;
	}
	#mod_imagens #thumbs_view span.item div.image img { border: none; }

/* mod_cadastro */
	#lightbox-panel img {
		border: 1px solid #ddd;
	}
	
	.filename {
		font-size: 0.9em;
	}

	.files_view table tr td {
		text-align: center;
		padding-bottom: 10px;
	}
	.files_view a img {
		border: 0;
	}

	/* field: relational_one_to_many */
	.search_1n {
		padding: 7px;
		border: 1px solid #ddd;
		-moz-border-radius: 8px;
		border-radius: 8px;
		background: #FFF4D6;
		margin: 0 7px 7px 0;
		display: table;
	}

		.search1n_result {
			width: 490px;
			margin: 0px 0 5px 12px;
		}

	
/* MOD_CART */
.listagem div.transaction {
	background: #ddd;
	width: 170px;
	display: table;
	margin: 5px;
	float: left;
	font-size: 0.9em;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

	.listagem div.transaction .containner { margin: 5px; }

	/* STATUS */
		.listagem div.transaction .status {
			text-align: center;
			padding: 3px;
			margin: 5px 0 5px 0;
			min-height: 30px;
		}
		.listagem div.transaction .status h2 {
			margin: 0;
			color: black;
			font-size: 1.2em;
			text-transform: uppercase;
			text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.6);
		}

		.listagem div.transaction.pending { background: #FBEC05; }
			.listagem div.transaction.pending .status { background: #FBF182; color: #444; }
			.listagem div.transaction.pending .status h2 { color: #FD6100; }

		.listagem div.transaction.ready { background: #A6ED99; }
			.listagem div.transaction.ready .status { background: #CEEDCC; color: #444; }
			.listagem div.transaction.ready .status h2 { color: green; }

		.listagem div.transaction.not_paid { background: #e6e6e6; }
			.listagem div.transaction.not_paid .status { background: #efefef; color: #444; }
			.listagem div.transaction.not_paid .status h2 { color: #555; }

		.listagem div.transaction.cancelled { background: #f7f7f7; color: #bbb; }
			.listagem div.transaction.cancelled .status { background: #f9f9f9; color: #999; }
			.listagem div.transaction.cancelled .status h2 { color: #FD944E; }


	.listagem div.transaction .gateway {
		text-align: center;
		margin: 0 0 3px 0;
	}
		.listagem div.transaction .gateway .paid { color: green; }
		.listagem div.transaction .gateway .waiting {  }
		.listagem div.transaction .gateway .analysing {  }
		.listagem div.transaction .gateway .no_response { color: #666; }
		.listagem div.transaction .gateway .cancelled {  }

	
	.listagem div.transaction .number {
		font-size: 0.9em;
		text-align: center;
		font-weight: bold;
		margin: 0 0 5px 0;
	}

	.listagem div.transaction .label {
	}
	.listagem div.transaction .value {
		font-style: italic;
	}

	.listagem div.transaction .date_listing {
			margin: 10px 0 10px 0;
			font-size: 0.9em;
	}
		.listagem div.transaction .date_listing .date {
		}

	.listagem div.transaction .actions {
		margin: 3px 0 0 0;
		padding: 3px 0 0 0;
		border-top: 1px dashed #fdfdfd;
	}

