
/***************************
*
*	BODY = CORPO
*
***************************/
div.body {
    width: 760px;
    text-align: left;
    margin: 0 auto;
    font-size: 1.0em;
}
    div.body div.content {
        padding: 0px;
        margin: 0px 20px 0px 20px;
        padding: 10px 0;
        padding-bottom: 0px;
        display: block;
        width: 720px;
    }

    div.body div.content:after{
        content: ".";
        clear: both;
        display: block;
        font-size: 0;
        visibility: hidden;
    }
 
 	div.body div.content h1 { margin-top: 0px; }

    /*
     * HIGHLIGHTS: painel com informações importantes
     */

        div.highlights_painel {
            background: #f0f0f0;
            min-height: 80px;
            width: 100%;
            border: 1px solid silver;
            padding: 0px;
            margin-bottom: 20px;
            display: table;
        }

        div.highlights_painel div.containner {
            margin: 10px;
            display: table;
        }


    /*
     * BOX DE MENSAGENS
     *
     * Painel onde encontram-se opções
     */
            div.body div.content div.box-metade {
                    width: 340px;
                    background: red;
                    margin-right: 10px;
                    float: left;
            }
            div.body div.content div.box-dois { margin: 0; }

            div.body div.content div.box-full {
                    width: 100%;
                    background: white;
                    margin-right: 10px;
            }
            div.body div.content div.box { background: #dddddd; padding-bottom: 1px; margin-bottom: 10px; }
            div.body div.content div.box div.titulo { padding: 5px; }
            div.body div.content div.box div.titulo h2 { font-size: 1.2em; margin: 0; }
            div.body div.content div.box div.corpo { margin: 1px; margin-bottom: 0; padding: 10px; background: white; }
            div.body div.content div.box div.rodape { margin: 10px; padding: 10px; background: white; }
            div.body div.content div.alerta { background: #ffee60; padding: 5px; border: 1px solid orange; margin-bottom: 10px; }
            div.body div.content div.pergunta { background: yellow; padding: 15px; border: 1px solid orange; text-align: center; }
            div.body div.content div.sucesso { background: #D9FFD9; color: #006413; padding: 5px; border: 1px solid #009900 }
            div.body div.content div.insucesso { background: #f68585; padding: 5px; border: 1px solid #db4343 }

    /********* CATEGORIAS *********/
            div.body div.content div.structure {  }
            div#categoriacontainer { float: left; }
            div#categoriacontainer select{ font-size: 1.0em }
            div#categoriacontainer select option.node{ color: #990000; font-weight:normal; background-color: #D9ECFF; }
            div.structure0 { font-weight: bold; text-transform: uppercase; color: #006600; }
            div.structure1 { font-weight: normal; text-transform: uppercase; color:#009900; }
            div.structure2 { font-weight: bold; color: #000099; }
            div.structure3 { font-weight: normal; color: #0066FF; }
            div.structure4, div.structure5, div.structure6, div.structure7, div.structure8 { font-weight: normal; font-style: italic; }



/* Paginação ao final da lista de conteúdos ou usuários */
			div.body div.content div.paginacao { margin: 0 auto; text-align: center; margin-top: 15px; margin-bottom: 15px; }


	/* SEE-INFO */
			div.body div.content div.detalhes { display: block; }
						div.body div.content div.detalhes div.campo { float: left; display: inline; font-weight: bold; }
						div.body div.content div.detalhes div.detalhe { float: left; display: inline; margin-left: 5px; }

	/* Resultado de uma açao */
			div.body div.content div.alert_box { text-align: center; width: 680px; display: table; }
			div.body div.content div.alert_box div.containner { margin:0 auto; text-align: center; padding: 15px; background: #FFFF99; }
				div.body div.content div.alert_box div.containner p {  }

    /* EST_OPTIONS
     * Campos de opções rápidas
     */
        table tr td a.link_pai_do_est_options { text-decoration: none; }
        table tr td a.link_pai_do_est_options:hover { text-decoration: none; }

        table tr td div.est_options a { color: orange; text-decoration: underline; }
        table tr td div.est_options a:hover { color: #00b53c; text-decoration: none; }
        table tr td div.est_options div.campooptions_tabela {  }
        table tr td div.est_options div.campooptions_campo {  }
        table tr td span.est_options_info { color: #666666; }

	
/***************************
*
*	RODAPÉ
*
***************************/

div#bottom {
	width: 760px;
	height: 13px;
	/*background: url(img/rodape.png);*/
    background: white;
	font-size: 1px;
	margin: 0 auto;
}
 
/*
 * Links Permissões e configurar módulos
 */
div#link_bottom {
    background: white;
    display: block;
}
div#link_bottom div.borda {
    border-bottom: 1px solid #f4f4f4;
    padding: 0px;
    margin: 0;
    font-size: 0px;
}
div#link_bottom div.links_admin {
    text-align: left;
}
div#link_bottom div.links_admin a {
    padding-left: 15px;
}

/*
 * Pessoas e permissões
 */

div.action_options ul li {
    line-height: 20px;
}
    div.action_options ul li.sem_icone {
        margin-left: 20px;
    }
