 
/*
 * Tabs do PAINEL GERENCIAR e CONFIGURAÇÕES
 */

div.tabs_area { display: block; margin: 0 0 0px 0px;} /* div contendo tabs */
ul.tabs {
	display: block;
	list-style:none;
	margin: 0 !important; padding: 0;
	height: auto;
	width: 760px;
}

	/* Cada Tab */
	ul.tabs li {
		float:left;
		text-indent:0;
		padding:0; margin: 0 3px 0 0;
	}

	/*
	 * TABS - anchors
	 */
	ul.tabs a {
		display: inline-block;
		height: auto;
		width: auto;
		text-decoration: none;
		color: white;
		font-size: 1.2em;
		padding: 5px 8px 8px 8px;
		margin: 0px;
		float: left;
		background-color: #d8d8d8;
	}
	/* Comportamento das Tabs */
		ul.tabs a:active { font-weight: normal; }
		ul.tabs a:focus { outline: none; }
		ul.tabs a:hover { background-position: -420px -61px; background: #2d88cf; }

	/* Tabs selecionada atualmente. */
		ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
			background-position: -420px -62px;
			cursor: default !important;
			
		}
