/*
Name: Default
Author:
Description:

*/

/* BÁSICO */
body { background: #eceee3; }

a { color: #455927; }
a:hover { color: #bcbf69; }
a.restrito { color: #990000; }

p { color: #2e2e2e; }
p.alerta { color: #FF3300; }

h1, h2, h3, h4, h5, h6 { color: #455927; }
h1 { color: #004b85; }
h1.restrito { color: #990000; }
h2.restrito { color: #990000; }
h2.falha { color: red; }
h2.ok { color: #006600; }

/* Mensagens genéricas */
span.red { color: #d40000; }
span.green { color: #006413; }

/* DIV central - body */
div.body { background: white; }

/* TOPO */
div#top {
	background: #8aa64e;
}
	div#top h1 { color: #f5f5f5; }
	div#top a { color: #f5f5f5; }

/* NAVEGAÇÃO */
div#navegacao {
	background: #8aa64e;
}
	div#menu ul li a {
		background: #eceee3;
	}
		div#menu ul li a:hover {
			background: white;
		}
	div#menu ul li a.selecionado {
		background: white;
		color: black;
		font-weight: bold;
	}
	
/* Links Configurar módulos e permissões */
div#link_bottom {
	background: white;
}


/* WIDGETS */
div.widget div.titulo { background: #ebf5d5; }
div.widget div.titulo h3 { color: #455927; }
div.widget { background: #fdfdfd; }
div.widget div.footer { background: #fdfdfd; }

/* PANES */
table.listing tr.list { background: #fdfdfd; }
table.listing tr.footer { background: #fdfdfd; }
table.listing tr.header { background: #ebf5d5; }
 table.listing tr.header td { color: #888888; }

/* TAB PANE -> table.listing - Painel Gerenciar e Configurações*/
div.panes div.background { background: #fdfdfd; }
	div.panes div.background .header { background: #fdfdfd; }

ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background: #e7f4cb;
	color: #455927;
}



