/* 
    Document   : forms.css
    Created on : 17/07/2009, 10:28:20
    Author     : Alexandre
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*
 * FORMS
 */
    form label { float: left; font-size: 1.0em; font-weight: bold; margin-bottom: 10px; color: #333333; }
    form div.input { display: inline; width: 100%; float: left; }
    form input.text { font-size: 1.2em; height: 20px; font-weight: bold; width: 380px; }
    form select { font-size: 1.2em; height: 24px; }
    form textarea { margin-bottom: 10px; width: 100%; }
    form input.submit { display: block; font-size: 1.4em; padding: 10px; margin-bottom: 5px; clear: both; }
    div.body div.content form h1 { margin-top: 15px; }

    form.simples label { float: left; width: 240px; font-size: 1.0em; font-weight: normal; color: #333333; }
    form.simples div.input { display: inline; width: 420px; float: left; }
    form.simples input.text { font-size: 1.0em; height: 20px; width: 300px; }
    form.simples input.submit { display: block; font-size: 1.2em; height: 46px; padding: 10px; margin-bottom: 5px; clear: both; }
    form.simples select { font-size: 1em; height: 24px;  }

    form.pequeno div.input { display: inline; width: 150px; float: left; }
    form.pequeno label { width: 130px;  }
    form .campo { display: block; padding-bottom: 5px; }

    form.normal div.campo { display: block; padding-bottom: 15px; }
    form.normal label { display: block; width: 620px; font-size: 1.0em; color: navy; }
    form.normal div.input { display: block; width: 620px; padding-bottom: 15px; }
    form.normal input { clear: both }
    form.normal input.text { font-size: 1.0em; height: 20px; width: 300px; }
    form.normal input.submit { display: block; font-size: 1.2em; height: 46px; padding: 10px; margin-bottom: 5px; clear: both; }
    form.normal select { font-size: 1em; height: 24px;  }

    form p.explanation { margin: 0; font-size: 12px; color: #999999; }
    form p.explanation_example { margin: 0; margin-bottom: 15px; font-size: 12px; color: #FF9900; }

    form div.input_painel {
        background: #efefef;
        min-height: 80px;
        width: 100%;
        border: 1px solid silver;
        padding: 0px;
        margin-bottom: 20px;
        display: table;
    }

    form div.input_painel div.containner {
        margin: 0px;
        padding: 5px;
        display: table;
    }

        form div.input_painel div.containner div.options {
            display: table;
            padding: 0;

        }

/**
 * FORM HELPER
 */
form.formHelper {

}

    form.formHelper label { width: 120px; }
    form.formHelper div.input_field {  }
    form.formHelper div.input_checkbox { display: table; }

