
/***************************
*
*	BODY = CORPO
*
***************************/
div.body {
	width: 760px;
	/*background: url(img/body_meio.png) repeat-y;*/
    background: white;
	text-align: left;
	margin: 0 auto;
	font-size: 1.0em;
}
    div.body div.content {
            padding: 20px 20px 20px 20px;
            margin: 0px;
            display: block;
    }

    div.body div.content:after{
        content: ".";
        clear: both;
        display: block;
        font-size: 0;
        visibility: hidden;
    }
 
 	div.body div.content h1 { margin-top: 0px; }
 	div.body div.content p { line-height: 20px; }

    /*
     * HIGHLIGHTS: painel com informações importantes
     */

        div.highlights_painel {
            background: #f0f0f0;
            min-height: 80px;
            width: 100%;
            border: 1px solid silver;
            padding: 0px;
            margin-bottom: 20px;
            display: table;
        }

        div.highlights_painel div.containner {
            margin: 10px;
            display: table;
        }


    /*
     * BOX DE MENSAGENS
     *
     * Painel onde encontram-se opções
     */
            div.body div.content div.box-metade {
                    width: 340px;
                    background: white;
                    margin-right: 10px;
                    float: left;
            }
            div.body div.content div.box-dois { margin: 0; }

            div.body div.content div.box-full {
                    width: 690px;
                    background: white;
                    margin-right: 10px;
            }
            div.body div.content div.box { background: #dddddd; padding-bottom: 1px; margin-bottom: 10px; }
            div.body div.content div.box div.titulo { padding: 5px; }
            div.body div.content div.box div.titulo h2 { font-size: 1.2em; margin: 0; }
            div.body div.content div.box div.corpo { margin: 1px; margin-bottom: 0; padding: 10px; background: white; }
            div.body div.content div.box div.rodape { margin: 10px; padding: 10px; background: white; }
            div.body div.content div.alerta { background: #ffee60; padding: 5px; border: 1px solid orange; margin-bottom: 10px; }
            div.body div.content div.pergunta { background: yellow; padding: 15px; border: 1px solid orange; text-align: center; }
            div.body div.content div.sucesso { background: #D9FFD9; padding: 5px; border: 1px solid #009900 }
            div.body div.content div.insucesso { background: #f68585; padding: 5px; border: 1px solid #db4343 }


    
/*
 * PAINEL GERENCIAR e CONFIGURAÇÕES
 */
#painel_gerenciar {
    width: 760px;
    float: left;
}

div.tabs_area { display: block; margin: 0 0 00px 0px;} /* div contendo tabs */
ul.tabs {
    display: block;
    list-style:none;
    margin: 0 !important; padding: 0;
    height: auto;
    width: 760px;
}

    /* Cada Tab */
    ul.tabs li {
        float:left;
        text-indent:0;
        padding:0; margin: 0 3px 0 0;
    }

    /*
     * TABS - anchors
     */
    ul.tabs a {
        background: #2d88cf;
        background: #edf6ff;
        /*border-bottom: 1px solid #dddddd;*/
        /* background: #edf6ff; */
        /*background: url(img/blue.png) no-repeat -420px 0;*/
        display: inline-block;
        height: auto;
        width: auto;
        text-decoration: none;
        color: #444444;
        font-size: 1.2em;
        padding: 5px 8px 8px 8px;
        margin: 0px;
        float: left;
    }
    /* Comportamento das Tabs */
        ul.tabs a:active { font-weight: bold; }
        ul.tabs a:focus { outline: none; }
        ul.tabs a:hover { background-position: -420px -31px; color: white; }

    /* Tabs selecionada atualmente. */
        ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
            background-position: -420px -62px;
            cursor: default !important;
            color: #2d88cf;
            background: url(img/marcador_ger.png) no-repeat bottom #edf6ff;
            background: #edf6ff;
            border-bottom: 1px solid #edf6ff;
        }



/*
 * TAB PANES - CONTEÚDO
 *
 * - table.pane_listing - Quando há uma listagem, esta é a classe
 *
 * - .background - Quando o contéudo é simples, .background no div filho de
 *                 div.pane
 */

/* TAB PANE -> table.pane_listing */
div.panes div.background { background: #fafafa; padding: 0px; }
    div.panes div.background .header { background: #edf6ff; padding: 10px; }

/* TAB PANE -> table.pane_listing */
table.pane_listing {
    border: 0px solid;
    width: 720px;
    padding: 0;
    float: left;
}
    table.pane_listing tr.header {
        background: #edf6ff;
        border-bottom: 1px solid #eeeeee;
        height: 30px;
        margin: 0px; padding: 0;
    }

        table.pane_listing tr td:first-child {  }
        table.pane_listing tr.header td {
            color: #888888; text-transform: uppercase;
            font-size: 0.9em;
            padding: 0 0 0px 10px;
        }
        table.pane_listing tr.header td.tipo { font-size: 0.9em; }
        table.pane_listing tr.header td.acesso { font-size: 0.9em; }
    
    table.pane_listing tr.list {
        background: #fafafa;
        width: 720px;
    }
        table.pane_listing tr.list td {
            color: #888888; text-transform: uppercase;
            font-size: 0.9em;
            padding: 10px 0 0px 10px;

        }
        /* Pane sem conteúdo */
        div.panes .sem_conteudo {
            display: inline-block; margin: 0 10px 10px 10px;
        }
        /* Colunas de conteúdos */
        table.pane_listing tr.list td.title span {
            font-weight: bold;
            display: inline;
            float: left;
            line-height: 20px;
            margin-right: 5px;
        }
        table.pane_listing tr.list td.options ul { list-style: none; margin: 0; }
        table.pane_listing tr.list td.options ul li {
            display: inline; margin-right: 4px;
            font-size: 0.8em;
        }
        table.pane_listing tr.list td.tipo { font-size: 0.8em; }
        table.pane_listing tr.list td.acesso { font-size: 0.8em; }

    table.pane_listing tr.footer {
        height: 10px;
        background: #fafafa;
        border-bottom: 1px solid #efefef;
    }

/* fim tab panes <<<<<<<<<*/



    /********* CATEGORIAS *********/
            div.body div.content div.structure {  }
            div#categoriacontainer select{ font-size: 1.0em }
            div#categoriacontainer select option.node{ color: #990000; font-weight:normal; background-color: #D9ECFF; }
            div.structure0 { font-weight: bold; text-transform: uppercase; color: #006600; }
            div.structure1 { font-weight: normal; text-transform: uppercase; color:#009900; }
            div.structure2 { font-weight: bold; color: #000099; }
            div.structure3 { font-weight: normal; color: #0066FF; }
            div.structure4, div.structure5, div.structure6, div.structure7, div.structure8 { font-weight: normal; font-style: italic; }



/* Paginação ao final da lista de conteúdos ou usuários */
			div.body div.content div.paginacao { margin: 0 auto; text-align: center; margin-top: 15px; margin-bottom: 15px; }


	/* SEE-INFO */
			div.body div.content div.detalhes { display: block; }
						div.body div.content div.detalhes div.campo { float: left; display: inline; font-weight: bold; }
						div.body div.content div.detalhes div.detalhe { float: left; display: inline; margin-left: 5px; }

	/* Resultado de uma açao */
			div.body div.content div.alert_box { text-align: center; width: 680px; display: table; }
			div.body div.content div.alert_box div.containner { margin:0 auto; text-align: center; padding: 15px; background: #FFFF99; }
				div.body div.content div.alert_box div.containner p {  }


	
/***************************
*
*	RODAPÉ
*
***************************/

div#bottom {
	width: 760px;
	height: 13px;
	/*background: url(img/rodape.png);*/
    background: white;
	font-size: 1px;
	margin: 0 auto;
}

	
	
/*******************************
*** RSS BOX ***
*******************************/

.rssclass {
	font-size: 12px;
	float:left;
	display: inline;
	filter: progid:DXImageTransform.Microsoft.alpha(opacity=80); /*Specify fade effect in IE. Remove if desired.*/
	-moz-opacity: 0.8; /*Specify fade effect in Firefox. Remove if desired.*/
}
	.rssclass a { color: green; text-decoration: underline; }
	.rssclass a:hover { color: green; text-decoration: none; }


div#categoriacontainer{
	margin: 0 auto;
	padding-bottom: 10px;
	padding-left: 0;
	border: solid 0.0em #3F4C6B;
	text-align: left;
}
 
/*******************************
*
*	LISTAGEM DE CONTEÚDO AUST
*
*******************************/

    /* acima de cada listagem há um painel de controle para excluir, bloquear itens, etc */
    div.painel_de_controle { margin-bottom: 10px; padding: 0; float: right; }
    /* tabela para listagem, seja de conteúdo ou usuários */
    table.listagem { margin: 0px; border-collapse: collapse; }
    table.listagem tr td { padding: 5px; }
    table.listagem tr td { padding: 5px; margin: 0px;}

    table.listagem tr.titulo {
            color: #cccccc;
            font-weight: bold;
            background: #333333;
        }
    table.listagem tr.conteudo { height: 20px; }
    table.listagem tr.conteudo td { background: #FFF0E1; border-top: 2px solid white; }
    table.listagem tr.conteudo td a {  }

    /* CAMPOOPTION
     * Campos de opções Ajax em formulários de setup
     */
        table.listagem tr.conteudo td div.campooptions { background: #f1f1f1; padding: 10px; margin-top: 3px; border: 1px solid silver; }
        table.listagem tr.conteudo td div.campooptions div.campooptions_tabela {  }
        table.listagem tr.conteudo td div.campooptions div.campooptions_campo {  }

    /* EST_OPTIONS
     * Campos de opções rápidas
     */
        table tr td a.link_pai_do_est_options { text-decoration: none; }
        table tr td a.link_pai_do_est_options:hover { text-decoration: none; }

        table tr td div.est_options { margin-left: 10px; }
        table tr td div.est_options a { color: orange; text-decoration: underline; }
        table tr td div.est_options a:hover { color: #00b53c; text-decoration: none; }
        table tr td div.est_options div.campooptions_tabela {  }
        table tr td div.est_options div.campooptions_campo {  }
        table tr td span.est_options_info { color: #666666; }


table.listagem td.adddate { width: 120px; }
