/*
 * TOPO DO SITE - NOME DO SITE, ALTERAR DADOS E LOGOUT
 */
div#top {
    width: 952px;
    display: table;
    margin: 0 auto;
    background: url(img/meio_topo.png) repeat-y;
}
	div#top div.border {
        width: 952px;
        height: 20px;
        font-size: 0em;
        background: url(img/borda_topo.png) no-repeat;
    }
	div#top div.title div.logotipo {
        width: 400px;
        float: left;
        text-align: left;
        padding: 0 0 0 40px;
    }
        div#top div.title div.logotipo h1 {
            margin-top: 0;
        }
	div#top div.title div.inicializacaorapida {
        width: 500px;
        text-align: left;
        float: right;
    }
        div#top div.title div.inicializacaorapida div.altera_dados {
            float: right;
            margin-right: 20px;
            margin-top: 10px;
        }
        div#top div.title div.inicializacaorapida div.logout {
            float: right;
            margin-right: 20px;
            margin-top: 10px;
        }

/*
 * NAVEGAÇÃO DO SITE
 */
div#navegacao { 
	width: 952px;
	height: 42px;
	background: url(img/bottom_topo.png) no-repeat;
	/*padding-left: 1px;*/
    margin: 0 auto;
    
}
	div#navegacao div.containner { 
		width: 940px;
		margin: 0 auto;
        text-align: left;
	}
	div#navegacao div.containner div#menu ul {
        list-style: none;
        padding-top: 17px;
    }
	div#navegacao div.containner div#menu ul li {
        display: inline;
        height: 31px;
    }
	div#navegacao div.containner div#menu ul li a {
        text-decoration: none;
        color: white;
        padding: 10px;
        background: #0f61a1;
    }
        div#navegacao div.containner div#menu ul li a:hover {
            text-decoration: underline;
        }
	div#navegacao div.containner div#menu ul li a.selecionado {
        background: url(img/marcador.png) no-repeat bottom #2d88cf;
        padding: 10px;
    }
    div#navegacao div.containner div#menu ul li.opcao_direita {
        margin-left: 413px;
    }
    
	

/***************************
*
*	BODY = CORPO
*
***************************/
div.body {
	width: 952px;
	background: url(img/body_meio.png) repeat-y;
	text-align: left;
	margin: 0 auto;
	font-size: 1.0em;
}
	div.body div.content {
		padding: 20px 20px 20px 20px;
		margin: 0px;
		display: block;
	}
	
	div.body div.content:after{
        content:".";
        clear:both;
        display:block;
		font-size: 0;
        visibility:hidden;
    }
 
 	div.body div.content h1 { margin-top: 0px; }
 	div.body div.content p { line-height: 20px; }

    /*
     * HIGHLIGHTS: painel com informações importantes
     */

        div.highlights_painel {
            background: #f0f0f0;
            min-height: 80px;
            width: 100%;
            border: 1px solid silver;
            padding: 0px;
            margin-bottom: 20px;
            display: table;
        }

        div.highlights_painel div.containner {
            margin: 10px;
            display: table;
        }


    /*
     * BOX DE MENSAGENS
     *
     * Painel onde encontram-se opções
     */
		div.body div.content div.box-metade {
			width: 340px;
			background: white;
			margin-right: 10px;
			float: left;
		}
		div.body div.content div.box-dois { margin: 0; }

		div.body div.content div.box-full {
			width: 690px;
			background: white;
			margin-right: 10px;
		}
		div.body div.content div.box { background: #dddddd; padding-bottom: 1px; margin-bottom: 10px; }
		div.body div.content div.box div.titulo { padding: 5px; }
		div.body div.content div.box div.titulo h2 { font-size: 1.2em; margin: 0; }
		div.body div.content div.box div.corpo { margin: 1px; margin-bottom: 0; padding: 10px; background: white; }
		div.body div.content div.box div.rodape { margin: 10px; padding: 10px; background: white; }
		div.body div.content div.alerta { background: #ffee60; padding: 5px; border: 1px solid orange; margin-bottom: 10px; }
		div.body div.content div.pergunta { background: yellow; padding: 15px; border: 1px solid orange; text-align: center; }
		div.body div.content div.sucesso { background: #D9FFD9; padding: 5px; border: 1px solid #009900 }
		div.body div.content div.insucesso { background: #f68585; padding: 5px; border: 1px solid #db4343 }


    /*
     * PAINEL DE OPÇÕES DA PÁGINA INICIAL
     *
     * Painel onde encontram-se opções rápidas de atalho
     */
            div.body div.content div.painel-metade {
                    width: 950px;
                    margin-left: 13px;
                    display: table;
                }
            div.body div.content div.painel-dois { margin: 0; }

            div.body div.content div.painel-full {
                    width: 690px;
                    background: white;
                    /*margin-right: 10px;*/
                }
            div.body div.content div.painel-metade div.painel {
                    padding-bottom: 1px;
                    padding-bottom: 10px;
                    background: white;
                    float: left;
                    width: 285px;
                    padding-right: 15px;
                }
            div.body div.content div.painel-metade div.painel div.titulo {
                    background: url(img/painel_titulo.png) no-repeat;
                    width: 285px;
                    height: 31px;
                    display: table;
                }
            div.body div.content div.painel-metade div.painel div.titulo h2 {
                    font-size: 1.2em;
                    display: table;
                    margin: 0;
                    margin-top: 6px;
                    /*margin-left: 10px;*/
                }
            div.body div.content div.painel-metade div.painel div.corpo {
                    background: url(img/painel_meio.png) repeat-y;
                    width: 285px;
                    height: 100px;
                    /*padding: 10px;*/
                    padding-bottom: 1px;
                }
            div.body div.content div.painel-metade .painel div.rodape {
                    background: url(img/painel_rodape.png) no-repeat;
                    width: 285px;
                    height: 11px;
                }
            /* Quanto aos front_painel, amostragem dos dados dos módulos */
                div.body div.content div.painel-metade div.front_painel h3 { margin-bottom: 0; color: black; }
                div.body div.content div.painel-metade div.front_painel div.corpo ul li.titulo { font-weight: bold; }
                div.body div.content div.painel-metade div.front_painel div.corpo ul li.conteudo { list-style: none; }


    /********* CATEGORIAS *********/
            div.body div.content div.structure {  }
            div#categoriacontainer select{ font-size: 1.0em }
            div#categoriacontainer select option.node{ color: #990000; font-weight:normal; background-color: #D9ECFF; }
            div.structure0 { font-weight: bold; text-transform: uppercase; color: #006600; }
            div.structure1 { font-weight: normal; text-transform: uppercase; color:#009900; }
            div.structure2 { font-weight: bold; color: #000099; }
            div.structure3 { font-weight: normal; color: #0066FF; }
            div.structure4, div.structure5, div.structure6, div.structure7, div.structure8 { font-weight: normal; font-style: italic; }



/* Paginação ao final da lista de conteúdos ou usuários */
			div.body div.content div.paginacao { margin: 0 auto; text-align: center; margin-top: 15px; margin-bottom: 15px; }


	/* SEE-INFO */
			div.body div.content div.detalhes { display: block; }
						div.body div.content div.detalhes div.campo { float: left; display: inline; font-weight: bold; }
						div.body div.content div.detalhes div.detalhe { float: left; display: inline; margin-left: 5px; }

	/* Resultado de uma açao */
			div.body div.content div.alert_box { text-align: center; width: 680px; display: table; }
			div.body div.content div.alert_box div.containner { margin:0 auto; text-align: center; padding: 15px; background: #FFFF99; }
				div.body div.content div.alert_box div.containner p {  }


	
/***************************
*
*	RODAPÉ
*
***************************/

div.bottom {
	width: 952px;
	height: 13px;
	background: url(img/rodape.png);
	font-size: 1px;
	margin: 0 auto;
}

	
	
/*******************************
*** RSS BOX ***
*******************************/

.rssclass {
	font-size: 12px;
	float:left;
	display: inline;
	filter: progid:DXImageTransform.Microsoft.alpha(opacity=80); /*Specify fade effect in IE. Remove if desired.*/
	-moz-opacity: 0.8; /*Specify fade effect in Firefox. Remove if desired.*/
}
	.rssclass a { color: green; text-decoration: underline; }
	.rssclass a:hover { color: green; text-decoration: none; }


div#categoriacontainer{
	margin: 0 auto;
	padding-bottom: 10px;
	padding-left: 0;
	border: solid 0.0em #3F4C6B;
	text-align: left;
}
 
/*******************************
*
*	LISTAGEM DE CONTEÚDO AUST
*
*******************************/

    /* acima de cada listagem há um painel de controle para excluir, bloquear itens, etc */
    div.painel_de_controle { margin-bottom: 10px; padding: 0; float: right; }
    /* tabela para listagem, seja de conteúdo ou usuários */
    table.listagem { margin: 0px; border-collapse: collapse; }
    table.listagem tr td { padding: 5px; }
    table.listagem tr td { padding: 5px; margin: 0px;}

    table.listagem tr.titulo {
            color: #cccccc;
            font-weight: bold;
            background: #333333;
        }
    table.listagem tr.conteudo { height: 20px; }
    table.listagem tr.conteudo td { background: #FFF0E1; border-top: 2px solid white; }
    table.listagem tr.conteudo td a {  }

    /* CAMPOOPTION
     * Campos de opções Ajax em formulários de setup
     */
        table.listagem tr.conteudo td div.campooptions { background: #f1f1f1; padding: 10px; margin-top: 3px; border: 1px solid silver; }
        table.listagem tr.conteudo td div.campooptions div.campooptions_tabela {  }
        table.listagem tr.conteudo td div.campooptions div.campooptions_campo {  }

    /* EST_OPTIONS
     * Campos de opções rápidas
     */
        table tr td a.link_pai_do_est_options { text-decoration: none; }
        table tr td a.link_pai_do_est_options:hover { text-decoration: none; }

        table tr td div.est_options { margin-left: 10px; }
        table tr td div.est_options a { color: orange; text-decoration: underline; }
        table tr td div.est_options a:hover { color: #00b53c; text-decoration: none; }
        table tr td div.est_options div.campooptions_tabela {  }
        table tr td div.est_options div.campooptions_campo {  }
        table tr td span.est_options_info { color: #666666; }


table.listagem td.adddate { width: 120px; }


